*{padding:0;margin:0}
html,body{
	width:100%;
	height:100%;
	background: #f7f7f7;
}
ul,ol,li{
	text-decoration: none;
	list-style: none;
}
input{
	border: none;
	outline: none;
}
#box{
	width:100%;
	height:100%;
}
header{
	width:100%;
	height:0.9rem;
	background:#e4366b;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

header span{
	color:#FFFFFF;
	font-size:0.44rem;
}

header #point{
	display: block;
	height:0.7rem;
	width:0.74rem;
	position: absolute;
	top:-0.2rem;
    left:0.1rem ;
}

header #point img{
	height:100%;
}
header img{
	height:0.46rem;
	
}
header .header-img{
	position:absolute;
	right:0.18rem;
	width:1.08rem;
	height:0.56rem;
}
#wrap1{
	width: 100%;
	height:84%;
	overflow: auto;
}
#search{
	color:#f9f9f9;
	width:100%;
	height:0.9rem;
	line-height:0.9rem;
	background: #333333;
	display: flex;
    justify-content: center;
	align-items: center;
	font-size: 0.3rem;
	position: relative;
}


.son-header {
	width:100%;
}
.son-header img{
	width:100%;
}
.son-detail{
	width:100%;
	padding-left:0.2rem;
	padding-top:0.3rem;
	padding-right:0.45rem;
	box-sizing: border-box;
	
}
.son-detail p {
	font-size:0.26rem;
	color:#8a8a8a;
	line-height:0.4rem;
	padding-bottom:0.48rem;
}
.son-detail2{
	width:100%;

}
.son-detail2 img{
	width:100%;
}



bottom{
	width:100%;
	height:1.04rem;
	color:#ffffff;
    background-color:#484850;
}

bottom ul{
	width:100%;
    height:1.04rem;
	display: flex;
	background-color:#484850;
	align-content: flex-end ;
}
bottom ul li{
    height:0.96rem;
	text-align: center;
	flex: 1;
	font-size:0.28rem;
}
bottom li i{
	
	display: block;
	font-size:0.52rem;
}
bottom li span{
	height:0.96rem;
	display: block;
	font-size:0.38rem;
	line-height:0.92rem;
}
bottom p{width:100%;height:0.08rem;background:#484850}


