*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
}
a{
	text-decoration: none;
	color: black;
}
ol,ul,li{
	list-style: none;
	
}
.zx{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	/*justify-content: space-between;*/
}

/*头部*/
.zx header{
	width: 100%;
	height: 0.74rem;
	background-color: #e4366b;
	text-align: center;
	line-height: 0.74rem;
	font-size: 0.34rem;
	color: white;
	border-bottom: 2px solid black;
	position: fixed;
	left: 0;
	top: 0;
}
.zx header span{
	position: relative;
	left: 0.35rem;
}
.zx header img{
	width: 0.71rem;
	height: 100%;
	float: left;
	display: inline-block;
}
.zx header button{
	width: 0.95rem;
	height: 0.483rem;
	display: inline-block;
	/*outline: none;
	border: none;*/
	border-color: #404040;
	background-color: #e33067;
	color: white;
	line-height: 0.383rem;
	text-align: center;
	font-size: 0.25rem;
	border-radius: 0.1rem;
	position: relative;
	left: 1.6rem;
}

/*内容区*/
.zx #content{
	width: 100%;
	/*display: flex;*/
	flex: 1;
	flex-direction: column;
	/*position: fixed;
	top: 0.74rem;*/
}
.zx #content .xq{
	padding-top: 0.74rem;
	width: 100%;
	height: 0.776rem;
	background-color: black;
	line-height: 0.776rem;
	color: white;
	font-size: 0.258rem;
	letter-spacing: 0.01rem;
}
.zx #content .xq #price{
	color: #e7366c;
}
.zx #content .xq #price{
	color: #e7366c;
}
.zx #content .list1{
	width: 100%;
	padding: 0;
	
}
.zx #content .list1 li{
	height: 1.982rem;
	width: 100%;
	border-bottom: 1px solid #666666;
}
.zx #content .list1 li img{
	float: left;
	height: 75.65%;
	width: 27.2%;
	padding-left: 4.53%;
	padding-top: 3.42%;
}
.zx #content .list1 li #liT{
	float: left;
	height: 100%;
	width: 53%;
	font-size: 0.21rem;
}
.zx #content .list1 li #liT .p1{
	padding-left: 5%;
	padding-top: 5%;
	width: 90%;
	height: 40%;
	font-size: 0.31rem;
	line-height: 0.38rem;
	overflow: hidden;
}
.zx #content .list1 li #liT #liTP{
	padding-left: 5%;
	width: 90%;
	height: 40%;
	font-size: 0.31rem;
	line-height: 0.33rem;
	overflow: hidden;
}
.zx #content .list1 li #liT #liTP .pp1 span{
	color: red;
}
.zx #content .list1 li #liT #liTP .pp2 button{
	color:white;
	width: 0.45rem;
	height: 0.3rem;
	background-color: #a7a7a7;
	outline: none;
	border: none;
	border-radius: 0.1rem;
	line-height: 0.3rem;
}
.zx #content .list1 li #liT #liTP .pp2 #number{
	width: 0.7rem;
	height: 0.3rem;
	outline: none;
	border: 1px solid #000000;
	border-radius: 0.1rem;
	text-align: center;
}
.zx #content .list1 li .dele{
	float: left;
	height: 100%;
	width: 15%;
	font-size: 0.21rem;
}
.zx #content .list1 li .dele{
	float: left;
	height: 100%;
	width: 15%;
	font-size: 0.21rem;
	text-align: center;
}
.zx #content .list1 li .dele img{
	display: block;
	height: 15%;
	width: 30%;
	font-size: 0.3rem;
	line-height: 0.2rem;
	font-weight: 600;
	padding-top: 20%;
	padding-left: 30%;
}
.zx #content .list1 li .dele span{
	padding-top: 60%;
	display: block;
	height: 20%;
	width: 60%;
	font-size: 0.3rem;
	line-height: 0.2rem;
	font-weight: 600;
	position: relative;
	left: 14%;
}

/*空购物车CSS代码*/
.zx #content .list0{
	width: 4.8rem;
	/*height: auto;*/
	margin: 0 auto;
	border: 0;
	margin-top: 0.3rem;
}
.zx #content .list0 img{
	width: 2.24rem;
	height: 2.24rem;
	display: block;
	margin: 1rem auto 0;
}
.zx #content .list0 a{
	display: block;
	width: auto;
	text-align: center;
	height: 0.5rem;
	font-size: 0.31rem;
	margin: 0 auto;
	position: relative;
	top: 0.7rem;
}
/*去逛逛按钮*/
.zx #content .btn{
	margin: 0 auto;
	width: 4.8rem;
	height: 0.8rem;
	padding-top: 2rem;
	padding-bottom: 1.6rem;
}
.zx #content #tBtn{
	display: inline-block;
	outline: none;
	border: none;
	width: 4.8rem;
	height: 0.8rem;
	background-color: #e4366b;
	text-align: center;
	line-height: 0.8rem;
	font-size: 0.4rem;
	color: white;
	border-radius: 0.2rem;
}




/*底部*/
.zx footer{
	width: 100%;
	height: 1rem;
	display: flex;
	background-color: #484850;
	position: fixed;
	bottom: 0;
	left: 0;
}
footer ul{
	width: 100%;
	height: 100%;
	display: flex;
}
footer ul .fActive span{
	width: 100%;
	height: 0.05rem;
	display: block;
	position: relative;
	background-color: red;
	top: -0.8rem;
	
}
footer ul li a{
	display: block;
	width: 100%;
	height: 40%;
}
footer ul li i{
	color: white;
	font-size: 0.38rem;
	width: 100%;
	height: 40%;
	display: block;
}
footer ul li{
	width: 25%;
	height: 100%;
	text-align: center;
	line-height: 0.8rem;
}
.zx footer a{
	color: white;
	font-size: 0.24rem;
}